page-categoria {

    ion-header {
        border-color: rgb(214, 177, 11);
        background-color: crimson;
        background-image: none;
        
        }
}

    
    ion-menu-content {
    background-color: #00A5FF;
    color : #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    padding : 20px;
    }