page-signup {
    ion-alert {
        &.alert-warning {
          .alert-head {
            background: map-get($colors, warning);
            text-decoration-color: map-get($colors, warning);
            color: #558fff;
            margin-bottom: 1000px;
          }
        }
        &.alert-danger {
          .alert-head {
            background: map-get($colors, danger);
            text-decoration-color: map-get($colors, warning);

            color:#e74c3c;
            margin-bottom: 1000px;
          }
        }
        &.alert-success {
          .alert-head {
            background: map-get($colors, success);
            color: chocolate;
            margin-bottom: 10px;
          }
        }
      
      }
}



